<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PLUGIN-RESTO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app"></div>
    <div id="restaurant-list"></div>
    <div id="footer"></div>
    <footer> <p>© 2024 My PLUGIN RESTO since 2018</p></footer>

    <div class="hamburgermenu">
      <div class="home"></div>
      <div class="about-us"></div>
      <div class="service"></div>
      <div class="contact"></div>
    </div>
    <nav class="nav__list">
      <ul>
        <li><a href="#" class="nav-link">Home</a></li>
        <li><a href="#" class="nav-link">About Us</a></li>
        <li><a href="#" class="nav-link">Service</a></li>
        <li><a href="#" class="nav-link">Contact</a></li>
      </ul>
    </nav>
  </body>
</html>
